/*
font-family: 'Open Sans Condensed',
sans-serif;
font-family: 'Oswald',
sans-serif;
font-family: 'Quicksand',
sans-serif;
font-family: 'Saira Condensed',
sans-serif;
font-family: 'Saira',
sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 20px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #ffffff;
  max-width: 1920px;
  height: 100%;
  overflow-x: hidden;
}

div.wrapper {
  width: 100vw;
  max-width: 1920px;
  overflow: hidden;
}

header {
  position: relative;
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

header > * {
  position: absolute;
}

header h1 {
  top: 45%;
  width: 100%;
  padding: 20px;
  font-size: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

header button {
  bottom: 80px;
  right: 80px;
  font-size: 40px;
  padding: 10px 50px;
  font-family: roboto condensed, arial, sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 4px solid white;
  transition: all 0.5s;
}

header button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (orientation: landscape) and (max-width: 1600px) {
}

@media (orientation: landscape) and (max-width: 1024px) {
  header h1 {
    font-size: 70px;
  }

  header button {
    bottom: 60px;
    right: 60px;
    font-size: 30px;
  }
}

@media (orientation: landscape) and (max-width: 832px) {
  header h1 {
    font-size: 40px;
    top: 35%;
  }

  header button {
    bottom: 60px;
    right: 60px;
    font-size: 15px;
  }
}

@media (orientation: landscape) and (max-width: 640px) {
  header h1 {
    font-size: 30px;
    top: 35%;
  }

  header button {
    bottom: 60px;
    right: 40px;
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-width: 568px) {
  header h1 {
    font-size: 20px;
    top: 35%;
  }

  header button {
    bottom: 60px;
    right: 40px;
    font-size: 15px;
  }
}

@media (orientation: landscape) and (max-height: 280px) {
  header h1 {
    font-size: 20px;
    padding: 13px;
    top: 35%;
  }

  header button {
    bottom: 60px;
    right: 40px;
    font-size: 10px;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  header {
    background-size: cover;
  }

  header h1 {
    font-size: 80px;
  }

  header button {
    font-size: 45px;
    right: 21%;
    bottom: 15%;
  }
}

@media (orientation: portrait) and (max-width: 768px) {
  header button {
    right: 23%;
    bottom: 18%;
    font-size: 30px;
  }
}

@media (orientation: portrait) and (max-width: 593px) {
  header h1 {
    font-size: 50px;
  }

  header button {
    right: 17%;
    bottom: 18%;
    font-size: 30px;
  }
}

@media (orientation: portrait) and (max-width: 414px) {
  header h1 {
    font-size: 30px;
  }

  header button {
    right: 17%;
    bottom: 18%;
    font-size: 15px;
  }
}

@media (orientation: portrait) and (max-width: 411px) {
  header h1 {
    font-size: 40px;
  }

  header button {
    right: 17%;
    bottom: 18%;
    font-size: 15px;
  }
}

@media (orientation: portrait) and (max-width: 360px) {
  header h1 {
    font-size: 35px;
  }

  header button {
    right: 17%;
    bottom: 18%;
    font-size: 12px;
  }
}

@media (orientation: portrait) and (max-width: 320px) {
  header h1 {
    font-size: 30px;
  }

  header button {
    right: 13%;
    bottom: 18%;
    font-size: 12px;
  }
}

@media (orientation: portrait) and (max-width: 280px) {
  header h1 {
    font-size: 35px;
  }

  header button {
    right: 17%;
    bottom: 18%;
    font-size: 8px;
  }
}

@media (orientation: portrait) and (max-width: 540px) and (height: 720px) {
  header h1 {
    font-size: 30px;
  }

  header button {
    font-size: 20px;
    right: 20%;
  }
}

/*nawigacja*/

nav {
  background-color: #222222;
  height: 70px;
  width: 100vw;
}

nav div {
  width: 100vw;
  line-height: 70px;
}

nav div a {
  float: left;
  margin-right: auto;
  margin-left: auto;
  width: 33.333%;
  color: #a8a8a8;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  border-right: 2px solid #0f0f0f;
  transition: all 0.5s;
}

nav div a:last-child {
  border-right: 0;
}

nav div a:hover {
  color: #dbdbdb;
}

nav div a i {
  margin-right: 10px;
}

@media (orientation: portrait) and (max-width: 414px) {
  nav div a {
    font-size: 14px;
  }
}

@media (orientation: portrait) and (max-width: 411px) {
  nav div a {
    font-size: 15px;
  }
}

@media (orientation: portrait) and (max-width: 280px) and (height: 653px) {
  nav div a {
    font-size: 12px;
  }
}

/*informacje*/

.about {
  box-sizing: border-box;
  margin: 0 0 2px 0;
  background-color: #0f0f0f;
  line-height: 50px;
  min-height: 500px;
  width: 100vw;
  padding: 100px 500px;
}

.about div {
  text-align: center;
}

.about div a {
  text-transform: uppercase;
  text-decoration: none;
  color: #b40000;
  font-weight: bold;
  border: 2px solid #ad0000;
  padding: 10px 20px;
  transition: all 0.4s;
  cursor: pointer;
}

.about div a:hover {
  color: #d80000;
  border: 2px solid #d80000;
}

.about p {
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 80px;
}

.about hr {
  width: 8vw;
  margin: 0 auto;
}

.about div p {
  margin-top: 50px;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

@media (orientation: landscape) and (max-width: 1400px) {
  .about {
    padding: 60px 200px;
  }
}

@media (orientation: landscape) and (max-width: 736px) {
  .about {
    padding: 60px 10px;
  }

  .about p:first-child {
    padding: 0 100px;
  }
}

@media (orientation: landscape) and (max-width: 568px) {
  .about {
    padding: 30px 5px;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  .about {
    padding: 60px 90px;
  }
}

@media (orientation: portrait) and (max-width: 414px) {
  .about {
    padding: 60px 20px;
  }
}

/*sekcja głowna*/
section.main {
  padding: 60px 180px 0;
  width: 100%;
  height: 600px;
  max-height: 600px;
}

div.questions {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

div.questions img {
  position: absolute;
  bottom: 25%;
  border-bottom: 1px solid #141414;
}

div.answers {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  padding-left: 50px;
  padding-top: 25px;
  overflow: hidden;
}

div.answers p {
  padding-top: 15px;
  line-height: 200%;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 4px;
}

div.answers p span {
  font-size: 24px;
  font-weight: bold;
}

div.answers p i {
  margin-left: 15px;
  color: #383838;
  font-size: 28px;
  cursor: pointer;
  transition: 0.1s linear;
}

div.answers h5 {
  display: none;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

.rotate {
  transform: rotate(45deg);
}

div.answers h5.show {
  display: block;
}

@media (orientation: landscape) and (max-width: 1600px) {
  section.main {
    padding: 60px 120px 0;
  }

  div.questions img {
    width: 90%;
    left: -6%;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  section.main {
    padding: 60px 20px 0;
  }

  div.questions img {
    width: 80%;
    left: 8%;
    top: 20%;
  }

  div.answers p {
    font-size: 18px;
  }
}

@media (orientation: landscape) and (max-width: 812px) {
  section.main {
    padding: 30px 10px 0;
    height: 440px;
  }

  div.questions img {
    width: 80%;
    left: 15%;
    top: 20%;
  }

  div.answers p {
    font-size: 12px;
  }

  div.answers p span {
    font-size: 17px;
  }

  div.answers p i {
    font-size: 18px;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  section.main {
    padding: 60px 10px 0;
  }

  div.questions img {
    width: 80%;
    left: 8%;
    top: 20%;
  }

  div.answers {
    padding-left: 5px;
  }
}

@media (orientation: landscape) and (max-width: 568px) {
  section.main {
    padding: 20px 10px 0;
    height: 500px;
  }

  div.questions img {
    width: 80%;
    left: 8%;
    top: 20%;
  }

  div.answers {
    padding-left: 0;
    position: relative;
  }

  div.answers p i {
    position: absolute;
    font-size: 13px;
    right: -3%;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  section.main {
    padding: 20px 10px 0;
    height: 500px;
  }

  div.questions img {
    width: 70%;
    left: 15%;
    top: 20%;
  }

  div.answers {
    position: absolute;
    right: -3%;
    width: 60vw;
  }
}

@media (orientation: portrait) and (max-width: 768px) {
  section.main {
    padding: 30px 10px 0;
    height: 450px;
  }

  div.questions img {
    width: 70%;
    left: 15%;
    top: 20%;
  }

  div.answers p {
    font-size: 12px;
  }
}

@media (orientation: portrait) and (max-width: 610px) {
  section.main {
    padding: 0;
    height: 310px;
    position: relative;
  }

  div.questions img {
    display: none;
  }

  div.answers {
    position: absolute;
    left: 10%;
    width: 100%;
  }

  div.answers p {
    padding-top: 25px;
    font-size: 14px;
  }

  div.answers p span,
  div.answers p i {
    font-size: 22px;
  }
}

@media (orientation: portrait) and (max-width: 414px) {
  section.main {
    padding: 0;
    height: 340px;
    position: relative;
  }

  div.questions img {
    display: none;
  }

  div.answers {
    position: absolute;
    left: 0;
    width: 100%;
  }

  div.answers p {
    padding-top: 25px;
    font-size: 12px;
  }

  div.answers p span,
  div.answers p i {
    font-size: 18px;
  }

  .fa-plus-circle:active::after {
    font-size: 11px;
  }
}

@media (orientation: portrait) and (max-width: 375px) {
  section.main {
    padding: 0;
    height: 260px;
    position: relative;
  }

  div.answers {
    position: absolute;
    left: -2%;
    width: 110%;
  }

  div.answers p {
    padding-top: 25px;
    font-size: 10px;
  }

  div.answers p span,
  div.answers p i {
    font-size: 14px;
  }

  .fa-plus-circle:active::after {
    font-size: 9px;
  }
}

@media (orientation: portrait) and (max-width: 360px) {
  section.main {
    padding: 0;
    height: 260px;
    position: relative;
  }

  div.answers {
    position: absolute;
    left: -5%;
    width: 110%;
  }

  div.answers p {
    padding-top: 25px;
    font-size: 9px;
  }

  div.answers p span,
  div.answers p i {
    font-size: 14px;
  }

  .fa-plus-circle:active::after {
    font-size: 9px;
  }
}

@media (orientation: portrait) and (max-width: 320px) {
  section.main {
    padding: 0;
    height: 260px;
    position: relative;
  }

  div.answers {
    position: absolute;
    left: -10%;
    width: 110%;
  }

  div.answers p {
    padding-top: 25px;
    font-size: 9px;
  }

  div.answers p span,
  div.answers p i {
    font-size: 14px;
  }

  .fa-plus-circle:active::after {
    font-size: 9px;
  }
}

@media (orientation: portrait) and (max-width: 280px) {
  section.main {
    padding: 0;
    height: 260px;
    position: relative;
  }

  div.answers {
    position: absolute;
    left: -15%;
    width: 120%;
  }

  div.answers p {
    padding-top: 25px;
    font-size: 7px;
  }

  div.answers p span,
  div.answers p i {
    font-size: 10px;
  }

  .fa-plus-circle:active::after {
    font-size: 7px;
  }
}

/*projects*/

section.dziela {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px 150px;
  width: 100vw;
  min-height: 2200px;
  background-color: #0f0f0f;
}

.dziela h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 60px;
}

div.dzielo {
  background-color: rgba(255, 79, 44, 1);
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  height: 20%;
  overflow: hidden;
}

div.dzielo img {
  width: 50%;
}

div.dzielo div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

div.dzielo h4 {
  padding: 80px 10px 20px 80px;
  font-size: 36px;
  color: white;
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  width: 90%;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}

div.dzielo p {
  padding: 50px 150px 50px 80px;
  font-size: 21px;
  color: white;
  text-align: justify;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 400;
}

div.dzielo:nth-of-type(odd) {
  flex-direction: row-reverse;
  background-color: rgba(255, 79, 44, 1);
}

div.dzielo:nth-of-type(odd) p {
  padding-left: 10%;
}

div.dzielo:nth-of-type(odd) h4 {
  padding: 80px 80px 20px 0;
  margin-left: 10%;
}

div.dzielo:nth-of-type(even) {
  background-color: #0170ba;
}

/*motto*/
section.motto {
  background-image: url(../images/motto.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.motto .mottoall {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 55, 102, 0.55);
  text-align: center;
  padding-top: 140px;
}

.mottoall .mojemotto p {
  margin-bottom: 20px;
  padding-right: 500px;
  padding-left: 500px;
  color: white;
  font-size: 28px;
  font-family: 'Saira', sans-serif;
  font-weight: 500;
}

.mottoall .mojemotto h3 {
  color: #e6e6e6;
  font-size: 18px;
  font-family: 'Saira', sans-serif;
  font-weight: 100;
}

@media (orientation: landscape) and (max-width: 1600px) {
  .mottoall .mojemotto p {
    font-size: 24px;
  }
}

@media (orientation: landscape) and (max-width: 1366px) {
  .mottoall .mojemotto p {
    padding-right: 300px;
    padding-left: 300px;
  }
}

@media (orientation: landscape) and (max-width: 1000px) {
  .mottoall .mojemotto p {
    padding-right: 200px;
    padding-left: 200px;
    font-size: 22px;
  }
}

@media (orientation: landscape) and (max-width: 667px) {
  .mottoall .mojemotto p {
    padding-right: 100px;
    padding-left: 100px;
    font-size: 22px;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  .mottoall .mojemotto p {
    padding-right: 150px;
    padding-left: 150px;
    font-size: 26px;
  }
}

@media (orientation: portrait) and (max-width: 768px) {
  .mottoall .mojemotto p {
    padding-right: 120px;
    padding-left: 120px;
    font-size: 24px;
  }
}

@media (orientation: portrait) and (max-width: 414px) {
  .mottoall .mojemotto p {
    padding-right: 60px;
    padding-left: 60px;
    font-size: 18px;
  }
}

@media (orientation: portrait) and (max-width: 320px) {
  .mottoall .mojemotto p {
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 16px;
  }
}

/*newsy*/
section.news {
  margin-bottom: 50px;
  padding: 60px 260px 0;
  width: 100vw;
  background-color: white;
}

section.news h2 {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: black;
}

section.news p {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 5px 15px;
  width: 200px;
  line-height: 150%;
  background-color: #ad0000;
  color: white;
  text-transform: uppercase;
  font-family: arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
}

section.news a {
  display: block;
  width: 35vw;
  line-height: 150%;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-weight: bold;
}

section.news a:hover {
  color: red;
  transition: 0.3s;
}

section.news div.firstnews,
div.secondnews {
  float: left;
  width: 50%;
}

section.news div.wrapriver,
div.wrapwater {
  width: 35vw;
  height: 20vw;
  overflow: hidden;
}

div.river,
div.water {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: 1s;
}

div.river {
  background-image: url(../images/river.jpg);
}

div.water {
  background-image: url(../images/water.jpg);
}

section.news div.water:hover,
div.river:hover {
  transform: scale(1.3);
}

@media (orientation: landscape) and (max-width: 1600px) {
  section.news {
    width: 100%;
    height: 100%;
  }

  section.news div.wrapriver,
  div.wrapwater {
    width: 30vw;
    height: 20vw;
    overflow: hidden;
  }

  section.news a {
    width: 30vw;
    font-size: 18px;
  }

  section.news p {
    font-size: 18px;
    width: 11vw;
  }

  div.secondnews {
    margin-left: 30px;
    width: 45%;
  }
}

@media (orientation: landscape) and (max-width: 1366px) {
  section.news {
    padding-left: 230px;
  }

  section.news h2 {
    margin-left: 40px;
    font-size: 56px;
  }

  section.news .firstnews,
  section.news .secondnews {
    width: 45%;
  }

  section.news div.wrapriver,
  div.wrapwater {
    width: 30vw;
    height: 20vw;
    overflow: hidden;
  }

  section.news a {
    width: 30vw;
    font-size: 18px;
  }

  section.news p {
    font-size: 18px;
    width: 11vw;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  section.news {
    padding-left: 120px;
    padding-right: 60px;
    padding-top: 25px;
  }

  section.news h2 {
    margin: 0 auto 30px;
    font-size: 40px;
  }

  section.news div.wrapriver,
  div.wrapwater {
    width: 35vw;
    height: 20vw;
    overflow: hidden;
  }

  section.news a {
    width: 35vw;
    font-size: 15px;
  }

  section.news p {
    font-size: 16px;
    width: 15vw;
  }

  div.secondnews {
    margin-left: 20px;
  }
}

@media (orientation: landscape) and (max-width: 812px) {
  section.news {
    padding-left: 90px;
    padding-right: 60px;
    padding-top: 25px;
  }

  section.news h2 {
    margin: 0 auto 30px;
    font-size: 40px;
  }

  section.news div.wrapriver,
  div.wrapwater {
    width: 35vw;
    height: 20vw;
    overflow: hidden;
  }

  section.news a {
    width: 35vw;
    font-size: 15px;
  }

  section.news p {
    font-size: 15px;
    width: 15vw;
  }

  div.secondnews {
    margin-left: 20px;
  }
}

@media (orientation: landscape) and (max-width: 736px) {
  section.news {
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 25px;
  }

  section.news h2 {
    margin: 0 auto 30px;
    font-size: 40px;
  }

  section.news div.wrapriver,
  div.wrapwater {
    width: 35vw;
    height: 20vw;
    overflow: hidden;
  }

  section.news a {
    width: 35vw;
    font-size: 15px;
  }

  section.news p {
    font-size: 14px;
    width: 18vw;
  }
}

@media (orientation: landscape) and (max-width: 667px) {
  section.news {
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 25px;
  }

  section.news h2 {
    margin: 0 auto 30px;
    font-size: 40px;
  }

  section.news div.wrapriver,
  div.wrapwater {
    width: 35vw;
    height: 20vw;
    overflow: hidden;
  }

  section.news a {
    width: 35vw;
    font-size: 15px;
  }

  section.news p {
    font-size: 13px;
    width: 14vw;
  }
}

@media (orientation: landscape) and (max-width: 568px) {
  section.news {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25px;
  }

  section.news h2 {
    margin: 0 auto 30px;
    font-size: 40px;
  }

  section.news div.wrapriver,
  div.wrapwater {
    width: 38vw;
    height: 20vw;
    overflow: hidden;
  }

  section.news a {
    width: 38vw;
    font-size: 13px;
  }

  section.news p {
    font-size: 11px;
    width: 15vw;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  section.news {
    padding-left: 100px;
    padding-right: 60px;
    padding-top: 25px;
  }

  section.news h2 {
    margin: 0 auto 30px;
    font-size: 40px;
  }

  section.news div.wrapriver,
  div.wrapwater {
    width: 38vw;
    height: 20vw;
    overflow: hidden;
  }

  section.news a {
    width: 38vw;
    font-size: 13px;
  }

  section.news p {
    font-size: 11px;
    width: 15vw;
  }
}

@media (orientation: portrait) and (max-width: 768px) {
  section.news {
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 25px;
  }

  section.news h2 {
    margin: 0 auto 30px;
    font-size: 40px;
  }

  section.news div.wrapriver,
  div.wrapwater {
    width: 38vw;
    height: 20vw;
    overflow: hidden;
  }

  section.news a {
    width: 38vw;
    font-size: 13px;
  }

  section.news p {
    font-size: 11px;
    width: 15vw;
  }
}

@media (orientation: portrait) and (max-width: 414px) {
  section.news {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
  }

  section.news h2 {
    margin: 0 auto 30px;
    font-size: 30px;
  }

  section.news div.wrapriver,
  div.wrapwater {
    width: 40vw;
    height: 25vw;
    overflow: hidden;
  }

  section.news a {
    width: 38vw;
    font-size: 13px;
  }

  section.news p {
    font-size: 8px;
    width: 15vw;
    padding-left: 10px;
  }

  section.news .secondnews {
    margin-left: 18px;
    width: 45%;
  }
}

@media (orientation: portrait) and (max-width: 375px) {
  section.news {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
  }

  section.news h2 {
    margin: 0 auto 30px;
    font-size: 30px;
  }

  section.news div.wrapriver,
  div.wrapwater {
    width: 50vw;
    height: 30vw;
    overflow: hidden;
    margin-left: 40px;
  }

  section.news a {
    margin-left: 20px;
    width: 60vw;
    font-size: 13px;
    text-align: center;
  }

  section.news p {
    margin-left: 80px;
    margin-top: 20px;
    font-size: 8px;
    width: 30vw;
    padding-left: 20px;
  }

  section.news .secondnews {
    margin-top: 30px;
    margin-left: 0.5px;
    width: 50%;
  }
}

@media (orientation: portrait) and (max-width: 320px) {
  section.news {
    padding-left: 40px;
    padding-right: 40px;
  }

  section.news p {
    margin-left: 60px;
    width: 35vw;
  }
}

@media (orientation: portrait) and (max-width: 280px) {
  section.news {
    padding-left: 30px;
    padding-right: 30px;
  }

  section.news a {
    margin-left: 25px;
  }

  section.news p {
    margin-left: 55px;
    width: 40vw;
  }
}

/*nadstopka*/
aside {
  margin-bottom: 10px;
}

aside .contact-wrap {
  color: white;
  max-width: 1920px;
  height: 40vh;
  width: 100vw;
  background-color: #0f0f0f;
}

.contact {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

.contact img {
  position: absolute;
  width: 15%;
  right: 28%;
  top: 6%;
}

.contact p {
  margin: 22% 20% 0 auto;
  width: 30%;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 16px;
  text-align: center;
}

.links {
  width: 50%;
  height: 100%;
  float: left;
  padding: 55px 0;
}

.links h3 {
  margin-left: 150px;
  margin-bottom: 30px;
  width: 10%;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-shadow: 0.3px 0 #cb7500;
}

.links p {
  display: block;
  margin-left: 90px;
  font-weight: normal;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 20px;
  color: #b4b4b4;
}

.links i {
  width: 40px;
  margin-right: 20px;
  border-right: 1px solid #b4b4b4;
  color: white;
}

@media (orientation: landscape) and (max-width: 1024px) {
  div.contact-wrap {
    height: 45vh;
  }

  .contact p {
    margin: 23% 19% 0 auto;
    width: 35%;
    font-size: 14px;
  }

  .links {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

@media (orientation: landscape) and (max-width: 812px) {
  .contacts-wrap {
    margin-bottom: 20px;
  }

  div.contact-wrap {
    height: 65vh;
  }

  .contact p {
    margin: 23% 14% 0 auto;
    width: 45%;
    font-size: 12px;
  }

  .links {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .links h3 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: 100px;
  }

  .links p {
    font-size: 15px;
    margin-left: 40px;
  }
}

@media (orientation: landscape) and (max-width: 568px) {
  div.contact-wrap {
    height: 75vh;
  }

  .contact p {
    margin: 30% 10% 0 auto;
    width: 60%;
    font-size: 11px;
  }

  .contact img {
    top: 10%;
    left: 53%;
  }

  .links p {
    font-size: 12px;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  .contact img {
    width: 30%;
    left: 45%;
  }

  .contact p {
    margin: 45% 15% 0 auto;
    width: 50%;
    font-size: 20px;
  }

  .links h3 {
    margin-top: 8%;
    margin-bottom: 11%;
    font-size: 3rem;
  }

  .links p {
    font-size: 24px;
  }
}

@media (orientation: portrait) and (max-width: 768px) {
  .contact img {
    width: 25%;
    left: 50%;
    top: 10%;
  }

  .contact p {
    margin-right: 13%;
    font-size: 16px;
  }

  .links h3 {
    margin-top: 8%;
    margin-bottom: 11%;
    margin-left: 30%;
    font-size: 2rem;
  }

  .links p {
    font-size: 20px;
    margin-left: 20%;
  }
}

@media (orientation: portrait) and (max-width: 600px) {
  .contact img {
    width: 25%;
    left: 45%;
  }

  .contact p {
    margin: 45% 17% 0 auto;
    width: 50%;
    font-size: 10px;
  }

  .links {
    padding: 20px;
  }

  .links h3 {
    margin-left: 10%;
    margin-bottom: 16%;
    font-size: 1.5rem;
  }

  .links p {
    font-size: 12px;
    margin-left: -5%;
  }

  .links i {
    border: 0;
    width: 5%;
  }
}

@media (orientation: portrait) and (max-width: 360px) {
  .contact p {
    margin-right: 12%;
    width: 60%;
    font-size: 10px;
  }
}

/*footer*/
footer {
  position: fixed;
  bottom: -55px;
  left: 0;
  margin: 0;
  height: 55px;
  width: 100vw;
  line-height: 55px;
  background-color: #222222;
  text-align: center;
  transition: 0.2s linear;
  z-index: 51;
}

footer p {
  color: #7b7b7b;
  font-weight: bold;
}

footer p span.copy {
  font-family: 'Saira Condensed', sans-serif;
}

footer p span.author {
  color: white;
  font-family: 'Saira Condensed', sans-serif;
}

footer.active {
  bottom: 0;
}

@media (orientation: portrait) {
  footer {
    bottom: -40px;
    height: 40px;
    line-height: 40px;
  }

  footer p {
    font-size: 12px;
  }
}

/* pop-up */

.modal-wrap {
  display: none;
}

.modal-wrap.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.blur {
  filter: blur(4px);
}

.modal-wrap .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5% 10%;
  width: 60%;
  height: 60%;
  background-color: white;
  text-align: center;
  overflow: hidden;
}

.modal-wrap .modal p {
  width: 100%;
  height: 100%;
}

.modal-wrap .modal i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .modal-wrap.active .modal p {
    font-size: 18px;
  }
}

@media (max-width: 647px) {
  .modal-wrap.active .modal p {
    font-size: 15px;
  }
}

@media (max-width: 490px) {
  .modal-wrap.active .modal p {
    font-size: 12px;
  }
}
